h1 {
  font-size: 36px;
  color: #4b535d;
  font-weight: normal;
  font-family: open sans;
}

h2 {
  font-size: 28px;
  color: #4b535d;
  font-weight: normal;
  font-family: open sans;
}

h3 {
  font-size: 21px;
  color: #4b535d;
  font-weight: normal;
  font-family: open sans;
}

h4 {
  font-size: 18px;
  color: #3d8dfe;
  font-weight: bold;
  font-family: open sans;
}

.panel-body {padding:0px;}
