<div class="workflow-list">

  {{#each this}}
    <h4>{{@key}}</h4>
      {{#each items}}
        <div class="panel panel-Item">
          <div role="tab" id="headingItemone">
            <h5 class="panel-Itemheading panel-Itemtitle collapsed" role="button" data-toggle="collapse" href="#collapseItemone">
              {{[Item Title]}}
            </h5>
          </div>

          <div id="collapseItemone" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingItemone">
            <div class="panel-body animated fadeIn" style="color:#555;border-top:0px">
              <p> {{[Item Description]}} </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>